.usersContainer {
    padding: 10px;
    width: 600px;
}

.page {
    margin-left: 10px;
}

.activePage {
    font-weight: bold;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 45px;
}

.userPhoto {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status {
}

.userName {
    font-size: larger;
    align-self: flex-start;
}

.userLocation {

}