.formControl {

}

.input {
    padding: 10px 45px;
    margin-bottom: 10px;
}

.formControl.error input,
.formControl.error textarea {
    border: 1px solid red;
}

.formControl.error span {
    color: red
}