
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 60px;
    grid-area: h;
    background-color: green;
}

.header img {
    width: 40px;
    margin: 10px;
}

.loginBlock {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userName {
    font-size: 20px;
    color: #04e3e3;
}

.logout {
}