.paginator {
    margin-bottom: 20px;
}

.page {
    margin-left: 10px;
    cursor: pointer;
    overflow: hidden;
}

.activePage {
    font-weight: bold;
}

.paginator button {
    padding: 10px 15px;
    margin-left: 10px;
    background-color: #a9a6a6;
}