.dialogs {
display: grid;
grid-template-columns: 2fr 10fr;
    background-color: lightblue;
    height: 100%;
}

.dialogItems {
padding: 10px;

}

 .dialog a{
    color: chocolate;
}

.messages {
padding: 10px;
}

.dialog a.active{
    color: #00078b;
}
.messages .message {

}
.sendMessage {
    display: flex;

    margin-top: 20px;
}